.static {
    position:static;
    bottom: 0;
}
.fixed{
    position:fixed;
    bottom: 0;  
     
}
.relative{
    position:relative;
    left:100px;
    top:0;
}
.absolute{
    position:absolute;
    top:0;
    right:0;

}
.absoluteVirat{
    position:absolute;
    color:green;
    bottom:0;
    left:0;

}
.imageparent{
    position:relative;
}
